.page-friend-dynamic {  
  .user-background-area{
    height: 4.4rem;
    background-color: gray;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    .user-info-content{
      position: absolute;
      right:0.4rem;
      bottom: -0.5rem;
      display: flex;
      .user-name{
        height: 0.6rem;
        line-height: 0.6rem;
        margin-right: 0.2rem;
        color: #fff;
        font-size: 0.3rem;
      }
      .user-avatar{
        width: 1.2rem;
        height: 1.2rem;
        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 6%;
      }
    }
    // 发动态按钮
    .btn-upload-dynamic{
      width: 0.8rem;
      height: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      background-color: #1989fa;
      border: 0.01rem solid rgb(95, 194, 255);
    }
  }


  .dynamic-area {
    padding: 0.48rem 0.5rem 1rem 0.3rem;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  .dynamic-item {
    box-sizing: border-box;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.01rem solid #eeeeee;
  }
  // 动态头部
  .dynamic-header {
    display: flex;
    margin-bottom: 0.12rem;
    .user-avatar {
      min-width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.2rem;
      background-color: gray;
      background-position: center center;
      background-size: cover;
      border-radius: 50%;
      overflow: hidden;
    }
    .dynamic-info {
      display: flex;
      flex-direction: column;
    }
    .user-nickname {
      line-height: 0.38rem;
      font-weight: bold;
      font-size: 0.3rem;
      color: #586c92;
    }
    .dynamic-content {
      line-height: 0.46rem;
      font-size: 0.28rem;
      color: #080808;
    }
  }
  // 动态的图片或视频
  .dynamic-show {
    width: 6.8rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    box-sizing: border-box;
    .dynamic-show-item {
      width: 1.83rem;
      height: 1.83rem;
      margin-bottom: 0.1rem;
      background-color: gray;
      background-position: center center;
      background-size: cover;
      margin-right: 0.1rem;
    }
    .dynamic-show-item:nth-of-type(3n) {
      margin-right: 0;
    }
  }
  // 动态的功能
  .dynamic-function {
    height: 0.6rem;
    margin-bottom: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    box-sizing: border-box;
    .dynamic-more {
      position: relative;
    }
    .more-ico {
      padding: 0 0.1rem;
      border-radius: 0.04rem;
      font-size: 0.3rem;
      background-color: #ebebeb;
      display: flex;
      align-items: center;
      justify-content: center;
      .ico{ pointer-events: none; }
    }
    .more-content {
      position: absolute;
      top: -0.14rem;
      right: 0.6rem;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // width: 3rem;
      width: 0;
      line-height: 0.4rem;
      border-radius: 0.05rem;
      background-color: #292727;
      color: rgb(245, 245, 245);
      font-size: 0.26rem;
      .like-btn {
        width: 1.5rem;
        height: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        .text {
          margin-left: 0.1rem;
        }
      }
      .separate {
        width: 0.01rem;
        height: 0.4rem;
        background-color: rgb(32, 32, 32);
      }
      .comment-btn {
        width: 1.5rem;
        height: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        .text {
          margin-left: 0.1rem;
        }
      }
    }
  }
  // 动态的反馈
  .dynamic-feedback {
    background-color: #f7f7f7;
    margin-left: 1rem;
    border-radius: 0.1rem;
    .like-show {
      display: flex;
      padding: 0.16rem;
      box-sizing: border-box;
      border-bottom: 0.02rem solid #e7e7e7;
      position: relative;
      .like-ico {
        position: absolute;
        left: 0.16rem;
        top: 0.2rem;
      }
      .like-user {
        display: flex;
        font-size: 0.24rem;
        font-weight: bold;
        color: #4b5e84;
        text-indent: 0.3rem;
      }
    }
    .comment-show {
      padding: 0.16rem;
      font-size: 0.24rem;
      font-weight: bold;
    }
  }
  .comment-public{
    width: 100%;
    height: 1rem;
    padding: 0.1rem 0.1rem;
    box-sizing: border-box;
    background-color: #d6d6d6;
    position: fixed;
    bottom: 1.1rem;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    .comment-input{
      border-radius: 0.2rem;
      height: 0.68rem;
      padding: 0.11rem;
      padding-left: 0.2rem;
      box-sizing: border-box;
    }
    .btn-send{
      margin-left: 0.2rem;
      width: 1.2rem;
      height: 0.54rem;
      line-height: 0.54rem;
      text-align: center;
      border-radius: 0.1rem;
      background-color: rgb(32, 180, 32);
      color: white;
    }
  }
  
}
