.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #39a9ed;
}
.login-content,
.register-content {
  background-color: white;
  padding: 0.2rem 0.1rem;
}
.image-item {
  height: 3rem;
  background-position: center center;
  background-size: cover;
}